<div class="container">
  <div class="row">
    <div class="col-8 offset-2">
      <div class="card mt-4">
        <div class="card-body">
          <h2 class="card-title" style="text-align: center">Pets to choose from</h2>
          <br><br>
          {{#each pets}}
          {{#each photos}}
          <img src="{{small}}" alt="Picture of pet">
          {{/each}}
          <p><strong>Name</strong>: {{name}}</p>
          <p><strong>Gender</strong>: {{gender}}</p>
          <p><strong>Age</strong>: {{age}}</p>
          <p><strong>Description</strong>: {{description}}</p>
          <a href="{{url}}">{{url}}</a>
          <hr>
          <br><br>
          {{/each}}

          <a href="/">← Back To Home</a>
        </div>
      </div>
    </div>
  </div>
</div>